<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 


<div class="projBackground">
  <div class="backDrop">
    <h1>{{title}}</h1>
    <div class="navCenter">
      <nav >
        <a class="btnFancy" routerLink="/dashboard">Dashboard</a>
        <a class="btnFancy" routerLink="/heroes">Heroes</a>
        <a class="btnFancy" routerLink="/calculator">Calculator</a>
      </nav>
    </div>
    
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </div>
</div>

